@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

/* Light (default) */
@theme {
  --color-background: #ffffff;
  --color-background-hidden: #ffffff33;
  --color-foreground: 23 23 23;

  --navbar-bg: #121525;
  --navbar-announcement-bg: #4a6ed85e;
  --navbar-hover: #ffffff; 
  --navbar-text: #e0def4;

  --footer-header: #909090;
  --footer-text: #dcd8ff;
  --footer-hover: #4364c6;

  --loginBtn-bg: #4a6ed8;

  --homepage-primaryText: #dfdcfd;
  --homepage-secondaryText: #655bcb;

  --homepage-background: #4a6ed8;
  --homepage-secondary: #3c5fc9;

  --border-gradient: linear-gradient(90deg, var(--navbar-bg), #cecece, var(--navbar-bg));

  --font-open: "Open Sans", sans-serif;
  --font-lexend: "Lexend", sans-serif;
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* Dark override */
.dark {
  --color-background: #1b1d27;
  --color-background-hidden: #1b1d2733;
  --color-foreground: 237 237 237;

  --navbar-bg: #121525;
  --navbar-announcement-bg: #4a6ed85e;
  --navbar-hover: #ffffff10;
  --navbar-text: #dcd8ff;

  --footer-header: #949494;
  --footer-text: #dcd8ff;
  --footer-hover: #4364c6;

  --loginBtn-bg: #4a6ed8;

  --homepage-primaryText: #dfdcfd;
  --homepage-secondaryText: #655bcb;

  --homepage-background: #4a6ed8;
  --homepage-secondary: #3c5fc9;

  --border-gradient: linear-gradient(90deg, var(--navbar-bg), #cecece, var(--navbar-bg));
}

html {
  color-scheme: light dark;
}


.background {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  overflow-x: hidden;
  position: relative;

  background-color: var(--color-background);
}

/* Navbar CSS below */

.navbar {
  position: sticky;
  width: 100%;

  z-index: 998;
  background-color: var(--navbar-bg);
}

.navbar-news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 50px;

  background-color: var(--navbar-announcement-bg);
}

.navbar-news-icon {
  font-size: 25px;
}

.navbar-news-message {
  font-weight: 500;
  font-size: 17px;
}

.navbar-container {
  margin-inline: 100px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10;

  height: 90%;

  cursor: pointer;

  transition: 0.4s ease-in-out;
  transition-property: scale;
  transform: translateZ(0);
}

.navbar-logo:hover {
  scale: 105%;
}

.navbar-mapbtn {
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-open);
  font-weight: 600;

  color: var(--navbar-text);

  border-radius: 8px;
  padding: 10px;
}

.navbar-mapbtn:hover {
  background-color: var(--navbar-hover);
}

.navbar-login {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  margin-left: auto;
  
  background-color: var(--loginBtn-bg);
  border-radius: 10px;

  padding-block: 9px;
  padding-inline: 16px;
}

.navbar-login:hover {
  filter: brightness(90%);
}

.navbar-hamburger {
  color: white;
  font-size: 28px;

  margin-left: 20px;

  cursor: pointer;
}

.navbar-hamburger:hover {
  filter: brightness(80%);
}

/* Responsive Fixes below [NAVBAR] */

@media (width >= 74rem) {
  .navbar-map {
    margin-inline: 50px;

    display: flex;
    gap: 10px;
  }

  .navbar-hamburger {
    display: none !important;
  }
}

@media (width < 74rem) {
  .navbar-map {
    display: none;
  }

  .navbar-container {
    margin-inline: clamp(0.625rem, 3.125vw, 2.5rem) !important;
  }

  .navbar-login {
    visibility: hidden;
  }

  .navbar-hamburger {
    font-size: clamp(1.4375rem, 0.341vw, 1.625rem) !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
    padding: 6px !important;
  }

  .navbar-news-message {
    font-size: clamp(0.8125rem, 0.341vw, 1rem) !important;
  }
}

/* Responsive Fixes above [NAVBAR] */

/* Navbar CSS above */

/* ---------------- */

/* Hamburger CSS below */

@media (width >= 74rem) {
  .hamburger-menu {
    display: none !important;
  }
}

.hamburger-menu {
  position: fixed;
  width: 270px;

  z-index: 999;
  background-color: var(--navbar-bg);
}

.hamburger-container {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-block-start: 30px;
  margin-inline: 20px;
  height: 100vh;
}

.hamburger-title {
  font-family: var(--font-open);
  font-weight: 500;
  font-size: 20px;
}

.hamburger-map {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-block: 10px;
}

.hamburger-mapbtn {
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-open);
  font-weight: 600;

  color: var(--navbar-text);

  border-radius: 8px;
  padding-block: 10px;
  padding-left: 10px;
  padding-right: 30%;

}

.hamburger-mapbtn:hover {
  background-color: var(--navbar-hover);
}

.hamburger-login {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  
  background-color: var(--loginBtn-bg);
  border-radius: 10px;

  padding-block: 9px;
  padding-inline: 16px;
}

.hamburger-login:hover {
  filter: brightness(90%);
}

.hamburger-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10;

  height: 50px;

  cursor: pointer;

  transition: 0.4s ease-in-out;
  transition-property: scale;
  transform: translateZ(0);
}

.hamburger-logo:hover {
  scale: 105%;
}

/* Hamburger CSS above */

/* ---------------- */

/* Homepage CSS below */

/*    Introduction    */

.main-content {
  display: flex;
  flex-direction: column;
  margin-block-start: 180px;
}

.introduction-area {
  display: flex;
  flex-direction: row;

  margin-inline: 220px;
  margin-bottom: 250px;
}

.introduction-text {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction-heading {
  font-size: 60px;
  font-weight: 900;
  color: var(--homepage-primaryText);
  font-family: var(--font-lexend);
}

.introduction-sub {
  font-size: 25px;
  font-weight: 500;
  color: var(--homepage-primaryText);
  font-family: var(--font-lexend);
}

.introduction-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--homepage-secondaryText);
  font-family: var(--font-lexend);
}

.introduction-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40%;

  user-select: none;
}

@media (width < 74rem) {
  .introduction-logo {
    display: none !important;
  }

  .introduction-text {
    max-width: 100%;
  }

  .introduction-area {
    margin-inline: clamp(0.625rem, 7.955vw, 6.25rem) !important;
  }

  .introduction-heading {
    font-size: clamp(3.125rem, 2.27vw, 3.75rem) !important;
  }

  .introduction-sub {
    font-size: clamp(1.125rem, 0.795vw + 14px, 1.5625rem) !important;
  }

  .introduction-paragraph {
    font-size: clamp(0.875rem, 0.227vw + 13px, 1rem) !important;
  }
}

/*    Information    */

.information-area {
  display: flex;
  flex-direction: column;

  background-color: var(--homepage-background);
  min-height: min-content;

  padding-top: 50px;
  margin-bottom: 200px;
}

.information-heading {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(1rem, 1.364vw, 1.75rem);
  font-weight: 800;
  font-family: var(--font-open);

  text-align: center;
}

.information-sub {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(0,6875rem, 0.83vw, 1rem);
  font-weight: 300;
  font-family: var(--font-lexend);

  text-align: center;
  margin-top: 5px;
  margin-inline: 10px;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  justify-content: center;
  gap: 25px;

  margin-top: 50px;
  margin-bottom: 50px;
  margin-inline: clamp(12.5rem, 15.8vw, 18.75rem);
}

@media (width < 74rem) {
  .information-grid {
    margin-inline: 50px !important;
    gap: 50px !important;
  }
}

.information-grid-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;
}

.information-grid-image {
  background-color: var(--homepage-secondary);
  
  font-size: 70px;

  padding: 20px;
  border-radius: 40px;
}

.information-grid-header {
  margin-top: 5px;

  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-lexend);
}

.information-grid-paragraph {
  text-align: center;
  align-items: center;

  font-size: 14px;
}

/*    Privacy Banner    */

.privacy-banner-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 60px;

  margin-bottom: 200px;
  
}

.privacy-banner-icon {
  font-size: clamp(6.25rem, 7.955vw, 10.625rem);
  transform: translateZ(0);
}

.privacy-banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 550px;
}

.privacy-banner-header {
  font-size: clamp(1.25rem, 2.272vw, 2.5rem);
  font-weight: 600;
  font-family: var(--font-lexend);

  text-align: start;

  color: var(--homepage-primaryText);
}

.privacy-banner-paragraph {
  text-align: center;
  font-size: 15px;
  
  font-family: var(--font-open);

  margin-inline: 30px;
}

@media (width < 80rem) {
  .privacy-banner-area {
    gap: 10px !important;
  }
}


@media (width < 40rem) {
  .privacy-banner-paragraph {
    text-align: start !important;
    margin-inline: 0 !important;
  }

  .privacy-banner-area {
    margin-inline: 50px !important;
    gap: 30px !important;
  }
}

/*    Footer    */

.footer {
  display: flex;
  flex-direction: column;

  background-color: var(--navbar-bg);
  min-height: 350px;
  
  padding-block: 35px;
  padding-inline: clamp(6.25rem, 8.45vw, 12.5rem);
}

.footer-logo {
  margin-bottom: 10px;
  padding-left: 40px;
  
  width: fit-content;
}

.footer-map {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;

  border-width: 1px;
  border-image: var(--border-gradient) 1;

  padding-inline: 60px;
  padding-block: 20px;
}

@media (width < 74rem) {
  .footer {
    padding-inline: 30px !important;
  }

  .footer-map {
    padding-inline: 15px;
    column-gap: 5px;
    row-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.footer-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-section-h1 {
  color: var(--footer-header);
  width: fit-content;

  font-weight: 500;
  font-size: clamp(0.8125rem, 1vw, 1rem);
}

.footer-section-btn {
  text-align: start;
  width: fit-content;
  color: var(--footer-text);

  font-size: clamp(0.6875rem, 0.75vw, 10.875rem);
  font-weight: 400;
  font-family: var(--font-lexend);

  transition: 0.4s ease-in-out;
  transition-property: scale color;

  cursor: pointer;
}

.footer-section-btn:hover {
  scale: 104%;
  color: var(--footer-hover);
}

.footer-socials {
  display: flex;
  flex-direction: row;

  align-items: end;
  justify-content: start;

  gap: 10px;

  height: 50px;

  margin-inline: 30px;
  margin-bottom: 15px;
}

.footer-social-btn {
  color: white;
  height: fit-content;

  font-size: 25px;

  transition: 0.5s ease-in-out;
  transition-property: scale color;

  transform: translateZ(0);

  cursor: pointer;
}

.footer-social-btn:hover {
  scale: 125%;
  color: var(--footer-hover);
}

.footer-copyright {
  margin-inline: 25px;

  font-family: var(--font-lexend);
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  color: var(--footer-text);
}

