@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

/* Light (default) */
@theme {
  --color-background: #ffffff;
  --color-background-hidden: #ffffff33;
  --color-foreground: 23 23 23;

  --navbar-bg: #121525;
  --navbar-announcement-bg: #4a6ed85e;
  --navbar-hover: #ffffff; 
  --navbar-text: #e0def4;

  --loginBtn-bg: #4a6ed8;


  --font-open: "Open Sans", sans-serif;
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* Dark override */
.dark {
  --color-background: #1b1d27;
  --color-background-hidden: #1b1d2733;
  --color-foreground: 237 237 237;

  --navbar-bg: #121525;
  --navbar-hover: #ffffff10;
  --navbar-text: #dcd8ff;

  --loginBtn-bg: #4a6ed8;
}

html {
  color-scheme: light dark;
}


.background {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  overflow-x: hidden;
  position: relative;

  background-color: var(--color-background);
}

/* Navbar CSS below */

.navbar {
  position: sticky;
  width: 100%;

  z-index: 998;
  background-color: var(--navbar-bg);
}

.navbar-news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 50px;

  background-color: var(--navbar-announcement-bg);
}

.navbar-news-icon {
  font-size: 25px;
}

.navbar-news-message {
  font-weight: 500;
  font-size: 17px;
}

.navbar-container {
  margin-inline: 100px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10;

  height: 90%;

  cursor: pointer;

  transition: 0.4s ease-in-out;
  transition-property: scale;
  transform: translateZ(0);
}

.navbar-logo:hover {
  scale: 105%;
}

.navbar-mapbtn {
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-open);
  font-weight: 600;

  color: var(--navbar-text);

  border-radius: 8px;
  padding: 10px;
}

.navbar-mapbtn:hover {
  background-color: var(--navbar-hover);
}

.navbar-login {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  margin-left: auto;
  
  background-color: var(--loginBtn-bg);
  border-radius: 10px;

  padding-block: 9px;
  padding-inline: 16px;
}

.navbar-login:hover {
  filter: brightness(90%);
}

.navbar-hamburger {
  color: white;
  font-size: 28px;

  margin-left: 20px;

  cursor: pointer;
}

.navbar-hamburger:hover {
  filter: brightness(80%);
}

/* Responsive Fixes below [NAVBAR] */

@media (width >= 74rem) {
  .navbar-map {
    margin-inline: 50px;

    display: flex;
    gap: 10px;
  }

  .navbar-hamburger {
    display: none !important;
  }
}

@media (width < 74rem) {
  .navbar-map {
    display: none;
  }

  .navbar-container {
    margin-inline: clamp(10px, 3.125vw, 40px) !important;
  }

  .navbar-login {
    padding-block: clamp(6px, 0.454vw, 10px);
    padding-block: 10px !important;
    font-size: clamp(13px, 0.23vw, 16px) !important;
    padding-inline: 13px !important;

  }

  .navbar-hamburger {
    font-size: clamp(23px, 0.341vw, 26px) !important;
    margin-left: clamp(15px, 0.568vw, 20px) !important;
  }

  .navbar-news-message {
    font-size: clamp(13px, 0.341vw, 16px) !important;
  }
}

/* Responsive Fixes above [NAVBAR] */

/* Navbar CSS above */

/* ---------------- */

/* Hamburger CSS below */

@media (width >= 74rem) {
  .hamburger-menu {
    display: none !important;
  }
}

.hamburger-menu {
  position: absolute;
  width: 270px;
  height: 100dvh;

  z-index: 999;
  background-color: var(--navbar-bg);
}

.hamburger-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block: 40px;
  height: auto;
}

.hamburger-title {
  font-family: var(--font-open);
  font-weight: 500;
  font-size: 20px;
}